
/* Your CSS Code here. */

#skills{
	background-color:violet
}

#projects{
	background-color:yellowgreen;

}

#image{
	width:300px
}

h1{
	font-style : italic;
	text-decoration:underline;
	background-color : aqua;
}



